{% extends 'base.html' %}

{% block conteudo %}
<a class="pure-button pure-button-primary" href="{% url 'analise:analise_new' %}">Novo</a>
<br>
<br>
<table  class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Lote</th>
                <th>Quantidade</th>
                <th>Data Limite</th>
                <th>Conformidade</th>
                <th>Status</th>
                <th colspan=2 align="center">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for an in analises %}
                <tr>
                    <td>{{an.id}}</td>
                    <td>{{an.analise_produto}}</td>
                    <td>{{an.analise_lote}}</td>
                    <td>{{an.analise_quantidade}}</td>
                    <td>{{an.data_limite|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{an.conformidade}}</td>
                    <td>{{an.status}}</td>
                    <td align="center" ><a class="pure-button pure-button-primary" href="{% url 'analise:analise_update' an.id %}">Atualizar</td>
                    <td align="center" ><a class="pure-button pure-button-primary" href="{% url 'analise:analise_delete' an.id %}">x</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}